extends ./layouts/default
block title
  title Koa 首页
block content
  .container
    .row
      .col-md-8
        h1 Hi #{name}
        p This is a middleware view pug page
      .col-md-4
        p Welcome to this page!
