extends ./layouts/default
block title
  title Koa 首页
block content
  .container-fluid
    .sidebar
    .content
      .row
        .col-md-6
          .card
            img.card-img-top(src="./a")
            .card-body
              h4.card-title 标题
              p.card-desc 描述
            .card-footer
              small.text-muted 更新日期：10分钟前
        .col-md-6
          .card
            img.card-img-top(src="./a")
            .card-body
              h4.card-title 标题
              p.card-desc 描述
            .card-footer
              small.text-muted 更新日期：10分钟前
