doctype html
html
  head(lang='en')
    meta(chartset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block title
    include ../includes/style
  body
    block content
    include ../includes/script
